<!-- <div class="container-fluid"
  style="background-image: url('../assets/images/about.jpg'); background-size: cover; background-position: center; height: 400px; display: flex; justify-content: center; align-items: center;">
  <div class="row" style="position: relative;">
    <div class="col-md-12">
      <h1 style="font-size: 82px; color:antiquewhite">Contact Us</h1>
    </div>
  </div>
</div>

<div class="container-fluid contact">
  <div class="row">
    <div class="col-md-6">
        <div class="help-content">
            <h2 class="h-text">How Can We Help?</h2>
            <p>Suspendisse tempor risus id augue porttitor imperdiet. Sed lobortis nisi a luctus
                sagittis. Sed id suscipit elit, et aliquet nunc. Interdum et malesuada fames ac ante
            ipsum primis in faucibus.</p>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="contact-box">
            <h3>Send Us a Message!</h3>
            <form action="" class="contact-box-form">
                <div class="form-group">
                    <input type="text" placeholder="Your Name">
                    <input type="email" placeholder="Email" required="">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Subject">
                    <input type="text" placeholder="Phone">
                </div>
                <div class="form-group">
                    <textarea name="" id="" cols="30" rows="3" placeholder="Message"></textarea>
                </div>
            </form>
            <div class="contact-submit-btn">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
  </div>
</div>
 -->


<div class="hero">

</div>

<div class="content">
  <div class="container">
      <div class="">
          <div class="detail-data d-flex justify-content-between align-items-center">
              <div class="help-content col-5">
                  <h2>How Can We Help?</h2>
                  <p>Looking to build custom software applications or streamline your existing processes? Our team of skilled developers specializes in creating scalable, secure, and user-friendly solutions that are tailored to your unique requirements.</p>
              </div>

              <div class="contact-box col-6">
                  <h3>Send Us a Message!</h3>
                  <form action="" class="contact-box-form">
                      <div class="form-group">
                          <input type="text" placeholder="Your Name" required>
                          <input type="email" placeholder="Email" required>
                      </div>
                      <div class="form-group">
                          <input type="text" placeholder="Subject">
                          <input type="text" placeholder="Phone">
                      </div>
                      <div class="form-group">
                          <textarea name="" id="" cols="30" rows="3" placeholder="Message"></textarea>
                      </div>
                      <div class="contact-submit-btn">
                          <button type="submit">Submit</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div> 