<div class="container-fluid bg-cover bg-center text-center text-antiquewhite d-flex justify-content-center align-items-center" style="background-image: url('../assets/images/about.jpg'); height: 400px;">
    <div class="row position-relative">
      <div class="col-md-12">
        <h1 class="display-1 text-white ">Our Services</h1>
      </div>
    </div>
</div>
  



<div class="container-fluid container container-custom py-5 our-team">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="team-quote text-center p-4">
          <img src="../assets/images/web.png" alt="Web Development" class="mb-3 icon">
          <div class="category">Web Development</div>
          <p>"Our web development services are designed to empower businesses with compelling digital solutions that resonate with their target audience. With a keen focus on user experience and cutting-edge technology, we create websites that not only look visually stunning but also function seamlessly across all devices</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="team-quote text-center p-4">
          <img src="../assets/images/app.png" alt="App Development" class="mb-3 icon">
          <div class="category">App Development</div>
          <p>We specialize in providing top-notch app development services tailored to meet the unique needs of our clients. Our team of experienced developers is dedicated to crafting innovative and user-friendly mobile applications that drive engagement and deliver results. From conceptualization to deployment</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="team-quote text-center p-4">
          <img src="../assets/images/SMM.png" alt="Digital Marketing" class="mb-3 icon">
          <div class="category">Digital Marketing</div>
          <p>At our agency, we're passionate about delivering results-driven digital marketing solutions. With a deep understanding of the latest trends and algorithms, we craft strategies that maximize your online presence and drive meaningful engagement. From SEO and PPC to social media and content marketing</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="team-quote text-center p-4">
          <img src="../assets/images/flyers.png" alt="Graphics Design" class="mb-3 icon">
          <div class="category">Graphics Design</div>
          <p>At our design studio, we're committed to turning your vision into captivating visuals that leave a lasting impression. With a keen eye for detail and a passion for creativity, we specialize in graphic design that not only looks stunning but also communicates your brand's message effectively.</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="team-quote text-center p-4">
          <img src="../assets/images/SMO.png" alt="Social Media Management" class="mb-3 icon">
          <div class="category">Social Media Management</div>
          <p>At our social media agency, we're dedicated to taking your online presence to the next level. With a strategic approach and a deep understanding of various platforms, we specialize in social media management that drives engagement and builds brand loyalty.</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="team-quote text-center p-4">
          <img src="../assets/images/logo.png" alt="Logo Designing" class="mb-3 icon">
          <div class="category">Logo Designing</div>
          <p>At our design studio, we're passionate about crafting logos that serve as the visual cornerstone of your brand identity. With a blend of creativity and strategic thinking, we specialize in logo design that resonates with your target audience and reflects your brand's essence. Our process .</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="team-quote text-center p-4">
          <img src="../assets/images/email.png" alt="E-mail Marketing" class="mb-3 icon">
          <div class="category">E-mail Marketing</div>
          <p>At our marketing agency, we excel in leveraging the power of email to drive results for your business. With a focus on personalized and targeted campaigns, we specialize in email marketing strategies that deliver high open and conversion rates. From crafting compelling content to optimizing</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="team-quote text-center p-4">
          <img src="../assets/images/SEO.png" alt="SEO" class="mb-3 icon">
          <div class="category">SEO</div>
          <p>At our digital marketing agency, we're experts in optimizing your online presence for maximum visibility and organic traffic. With a comprehensive approach to SEO (Search Engine Optimization), we specialize in crafting strategies that propel your website to the top of search engine results pages. From conducting thorough key</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="team-quote text-center p-4">
          <img src="../assets/images/ad.png" alt="Advertisement" class="mb-3 icon">
          <div class="category">Advertisement</div>
          <p>At our advertising agency, we're dedicated to helping your brand cut through the noise and captivate your target audience. With a blend of creativity and strategic insight, we specialize in crafting compelling advertisements that drive results. From eye-catching visuals to persuasive copywriting</p>
        </div>
      </div>
    </div>
</div>
